
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/*search bar*/
.field {
  width: 30%;
  height: 25px;
  border-radius: 20px;
  position: fixed;
  top: 1.5%;
  left: 35%;
  right: 35%;
  background-color: rgba(4, 11, 12, 0.1);
  transition: 0.3s all;
}

.field input {
  width: 96%;
  height: 25px;
  left: 4px;
  position: relative;
  border: none;
  border-radius: 4px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
}

.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.field.active {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}
.field.active input::-webkit-input-placeholder {
  color: rgba(69, 73, 64, 0.6);
}
.field input::-webkit-input-placeholder {
  color: rgba(204, 190, 190, 0.514);
}


.inputBar{
  width: 15%;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.43);
  transition: 0.3s all;
}

.otherbars{
  width: 30%;
}

.buttons{
  border-radius: 5px;
  position: relative;
  padding: 5px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}


/*header*/
.Header {
  background-color: #333;
  overflow: hidden;
  display: flex;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
}


.Header a {
  float: left;
  color: #f2f2f2;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}


.Header a:hover {
  background-color: #ddd;
  color: black;
}


/*song Listings*/
ul, li {
    list-style-type: none;
}

li {
    padding-left: 0;
    margin-left: 0;
}

li button {
    margin-top: 1em;
    margin-right: 1em;
}

.songDisplay{
  margin-bottom:2%;
  margin-left: 10%;
}

.songList{
   float: left;
}

.songButtons{
  background-color: rgba(0,42,87,0.5);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 25px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.songButtons:hover{
  background-color: rgba(0, 59, 122, 1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}


/*sheet and player layout*/

.Songs{
  margin-top: 2em;
}

.Playlists{
  margin-top: 1em;
}


/* Add a color to the active/current link */
.Header a.active {
  background-color: #4CAF50;
  color: white;
}

.searchBar {
  position: absolute;
  left: 40em;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: auto;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #1488CC;
  cursor: pointer;
  font-weight: 700;
}

.sheet{
  float:left;
}

.player{
  float:right;
}


/*stats page*/
.headerCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 25%;
  margin: auto;
  text-align: center;
  float: left;
  margin-left: 2%;
}

.topStreaks{
  float:left;
  width: 30%;
  margin-left: 2%;
}

.Stats {
  margin-top: 1em;
}

.History {
  float: center;
}
.Donutchart {
  float: left;
  width: 45%;
  margin-left: 2%;
}
